:root {
    --col-background: #F0F0F0;
    --col-background-sub: #FFFFFF;
    --col-popup: #262626;
    --col-popup-txt: #F0F0F0;
    --col-txt: #262626;
    --col-border: #262626;
    --col-InfoDisplay: rgba(0,0,0,0.95);
    --col-InfoDisplay-sub: rgba(255,255,255,0.05);
    --size-h1: calc(15px + 20 * ((53vw + 53vh) - 600px) / 820);
    --size-h1-manual: calc(7px + 11 * ((53vw + 53vh) - 600px) / 820);
    --size-h2: calc(15px + 20 * ((53vw + 53vh) - 600px) / 820);
    --size-h3: calc(10px + 10 * ((53vw + 53vh) - 600px) / 820);
    --size-h4: calc(8px + 12 * ((53vw + 53vh) - 600px) / 820);
    --size-p-info: calc(5px + 12 * ((53vw + 53vh) - 600px) / 820);
    --size-p-landing: calc(7px + 10 * ((53vw + 53vh) - 600px) / 820);
    --size-p-popup: calc(7px + 10 * ((53vw + 53vh) - 600px) / 820);
    --size-border-info: calc(2px + 3 * ((45vw + 45vh) - 600px) / 820);
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    font-family: Arial;
    color: var(--col-txt);
    font-size: var(--size-p-landing);
}
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--col-background);
    display: flex;
}
body{
    position: relative;
    display: block;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#TextModus {
    height: 70%;
    box-shadow: inset 0 0 2px var(--col-border);
    display: flex;
}
#TextInputArea {
    height: 70%;
    aspect-ratio: 16/10;
    background-color: var(--col-background-sub);
    padding: var(--size-p-landing);
}


#Controls {
    height: 30%;
    background-color: var(--col-background-sub);
}

button {
    height: 15%;
    width: 20%;
    cursor: pointer;
    background: none;
    border: 1px solid var(--col-border);
    border-radius: 4px;
}

h1{
    position: absolute;
    font-size: var(--size-h1);
    font-weight: 900;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.InfoBtn {
    position: absolute;
    font-size: var(--size-h1);
    font-weight: 500;
    margin-top: 25px;
    margin-left: calc(100% - 75px);
    width: 50px;
    height: 50px;
    border: var(--size-border-info) solid;
    border-color: var(--col-popup);
    border-radius: 100%;
    text-align: center;
    align-content: center;
    cursor: pointer;
    color: var(--col-popup);
    z-index: 2;
}

#offWindowBtn {
    background-color: rgba(255,0,0,0);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#InfoDisplay {
    position: absolute;
    width: 80%;
    height: 90%;
    margin: 2.5% 10%;
    z-index: 2;
    background-color: var(--col-InfoDisplay);
    border: 4px solid var(--col-InfoDisplay);
    border-radius: 16px;
    display: flex;
    overflow: hidden;
}

#InfoDisText {
    width: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
}

#InfoDisVis {
    width: 50%;
    height: 100%;
    background: var(--col-InfoDisplay-sub);
    position: absolute;
    margin-left: 50%;
    display: flex;
}

.InfoContent {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 10%;
    width: 100%;
}

.InfoContent > * {
    color: var(--col-popup-txt);
}

.InfoContent > p {
    width: 90%;
    font-size: var(--size-p-info);
}
.InfoContent > p > b{
    color: var(--col-popup-txt);
    font-weight: 600;
}

@keyframes PopUp1 {
    0% {
        margin: -10% 50%
    }

    25% {
        margin: 4% 50%
    }

    75% {
        margin: 4% 50%
    }

    100% {
        margin: -10% 50%
    }
}

@keyframes PopUp2 {
    0% {
        margin: -10% 50%
    }

    25% {
        margin: 4% 50%
    }

    75% {
        margin: 4% 50%
    }

    100% {
        margin: -10% 50%
    }
}

#PopUpBox {
    position: absolute;
    border-radius: 12px;
    margin: -10% 50%;
    transform: translateX(-50%);
    width: 20%;
    aspect-ratio: 4/1;
    align-content: center;
    text-align: center;
    background-color: var(--col-popup);
    color: var(--col-popup-txt);
    font-size: var(--size-p-popup);
}

#VisualConvertBtn {
    height: 80%;
    width: 90%;
    margin: auto;
    background-image: url(convert1.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}