:root {
    --col-background: #FFFFFF;
    --col-popup: black;
    --col-popup-txt: #FFFFFF;
    --col-txt: black;
    --col-border: black;
    --col-background-sub: #141414;
    
    --size-h1: calc(15px + 20 * ((53vw + 53vh) - 600px) / 820);
    --size-h1-manual: calc(7px + 11 * ((53vw + 53vh) - 600px) / 820);
    --size-h2: calc(15px + 20 * ((53vw + 53vh) - 600px) / 820);
    --size-h3: calc(6px + 10 * ((53vw + 53vh) - 600px) / 820);
    --size-h4: calc(8px + 12 * ((53vw + 53vh) - 600px) / 820);
    --size-p-info: calc(5px + 12 * ((53vw + 53vh) - 600px) / 820);
    --size-p-landing: calc(7px + 10 * ((53vw + 53vh) - 600px) / 820);
    --size-p-popup: calc(7px + 10 * ((53vw + 53vh) - 600px) / 820);
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    font-family: Arial;
    color: var(--col-txt);
    font-size: var(--size-p-landing);
}
html, body {
    width: 100%;
    height: 100%;
    background-color: var(--col-background);
    display: flex;
}
body{
    position: relative;
    display: block;
}

section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#Images {
    height: 70%;
    box-shadow: inset 0 0 2px var(--col-border);
    display: flex;
    overflow-x: auto;
}

.ScreenShotFolder {
    height: 60%;
    aspect-ratio: 16/10;
    margin: 0 2%;
    opacity: 0.8;
    transition: ease all 0.5s;
}

.ScreenShotFolder:hover {
    opacity: 1;
    cursor: pointer;
    height: 61%;
}
.ScreenShotFolder:last-child {
    opacity: 1;
}

.ScreenShotFolder > * {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#Controls {
    height: 30%;
    background-color: var(--col-background-sub);
}

button {
    height: 15%;
    width: 20%;
    cursor: pointer;
    background: none;
    border: 1px solid var(--col-border);
    border-radius: 4px;
}

h1{
    position: absolute;
    font-size: var(--size-h1);
    font-weight: 900;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: var(--size-h2);
    font-weight: 900;
    opacity: 0.5;
}
